- name: Stop the EC2 instance
  amazon.aws.ec2_instance:
    instance_ids: "{{ ec2_instance.instances[0].instance_id }}"
    state: stopped
    wait: true
  register: stopped_instance

- name: Create AMI from the instance
  amazon.aws.ec2_ami:
    instance_id: "{{ ec2_instance.instances[0].instance_id }}"
    name: "eks-node-{{ ansible_date_time.iso8601_basic_short }}"
    wait: true
  register: new_ami

- name: Output new AMI ID
  ansible.builtin.debug:
    msg: "✅ Created AMI ID: {{ new_ami.image_id }}"

- name: Terminate the EC2 instance
  amazon.aws.ec2_instance:
    instance_ids: "{{ ec2_instance.instances[0].instance_id }}"
    state: terminated
    wait: true
  register: terminated_instance

- name: Confirm termination
  ansible.builtin.debug:
    msg: "✅ EC2 instance {{ ec2_instance.instances[0].instance_id }} has been terminated."
